pkgbase = stanc
	pkgdesc = A package for obtaining Bayesian inference using the No-U-Turn sampler, a variant of Hamiltonian Monte Carlo.
	pkgver = 2.18.1
	pkgrel = 1
	url = http://mc-stan.org/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = texlive-bin
	makedepends = texlive-core
	makedepends = doxygen
	depends = gcc-libs
	options = !libtool
	options = !strip
	options = !makeflags
	source = https://github.com/stan-dev/cmdstan/releases/download/v2.18.1/cmdstan-2.18.1.tar.gz
	sha512sums = 20764f87e6fbc6359bc360a7316ec40773cdc4eb215f2740528830eaee765de71f8041af13235e8c64e25cb791606a739b990962469cd36ef4a87406e8d49645

pkgname = stanc

